.App {
  text-align: center;
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  color: white;
   background-image: url('https://img.freepik.com/free-photo/human-helix-dna-structure-concept-blue-color_90220-1399.jpg?w=900&t=st=1685350351~exp=1685350951~hmac=c8c51c70480b427c0a715c532c3d59c573b3baf5eaf5908e921213319e8a94d4');
  background-size: cover;
  background-repeat: no-repeat;;
}

.auth-form-container, .login-form, .register-form {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 600px) {
  .auth-form-container {
    padding: 5rem;
    border: 1px solid white;
    border-radius: 10px;
    margin: 0.5rem;
  }
}

label {
  text-align: left;
  padding: 0.25rem 0;
}

input {
  margin: 0.5rem 0;
  padding: 1rem;
  border: none;
  border-radius: 10px;
}

button {
  border: none;
  background-color: black;
  padding: 20px;
  border-radius: 10px;
  cursor: pointer;
  color: white;
}

.link-btn {
  background: none;
  color: white;
  text-decoration: underline;

}
.dropdown-container {
  position: sticky;
  
}

.dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 1;
  display: flex;
  flex-direction: column;
  margin-top: 5px;
}

.dropdown button {
  border: none;
  background: none;
  color: black;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  text-align: left;
}

.dropdown button:hover {
  background-color: #f0f0f0;
}
